/* --------------- GENERAL --------------- */
* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

html {
  background: #1F223D;
}

body {
  color: #fff;
  overflow: hidden;
}

h1, h2, h3, .clock span, .weather span {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2, h3 {
  font-size: 2em;
}

p, li, span, input, button {
  color: #fff;
  font-size: 1.1em;
  font-family: 'Miriam Libre', Arial, Helvetica, sans-serif;
}

li {
  margin-bottom: 10px;
}

a, i, input, button {
  transition: all .4s ease-out;
}

input, button {
  border: 2px solid transparent;
  padding: 10px;
}

button {
  background: #2e2e2e;
  border: none;
  cursor: pointer;
}

a, a:visited {
  color:  #f49015;
  text-decoration: none;
}

.fa-github, .mail a, .mail a:hover, .mail a:hover i, .email-notice {
  color: white;
}

a:hover, .main-links li a:hover, a:hover i {
  color:#750549;
}

input:hover, input:active, input:focus {
  box-shadow: 0px 0px 10px rgba(247, 128, 2, 0.3);
}

input:active, input:focus, input:focus-visible {
  border: 2px solid #f49015;
  outline: none;
}

.hidden {
  visibility: hidden;
}

/* --------------- BACKGROUND + MAIN --------------- */
section.main {
  background-color: rgba(8, 2, 26, 0.65);
  background-image: url("../assets/topography.svg");
  backdrop-filter: blur(2.5px);
  border-radius: 25px;
  box-shadow: 0 0 3px #222;
  left: 17.5%;
  overflow: hidden;
  padding-bottom: 15px;
  position: absolute;
  top: 10vh;
  width: 65%;
}

.background-img {
  background: no-repeat center/cover url('../assets/Cyberpunk screenshot.jpg'), rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}

.background-img > div {
  background: rgba(5, 0, 60, 0.4);
  height: 100%;
  width: 100%;
}

/* --------------- HEADER / SEARCH --------------- */
.drag-bar {
  background-color: rgba(7, 6, 15, 0.6);
  border-bottom: solid 1px #171717;
  cursor: grab;
  margin: 0 auto 10px;
  padding-top: 5px;
  text-align: center;
}

.info-bar {
  padding: 0 15px;
}

.info-bar > div {
  float: left;
  font-size: 1.2em;
  width: 50%;
}

.info-bar .mail {
  text-align: right;
}

.mail button {
  background: linear-gradient(
    rgba(39, 54, 68, 0.7), rgba(21, 32, 43, 0.7), rgba(10, 19, 28, 0.7)
  );
  display: inline-block;
  border-radius: 3px;
}

.mail a > button {
  box-shadow: 0 5px 10px rgba(0,0,0,0.9);
  padding: 5px 15px;
}

.mail button:hover {
  transform: translateY(3px);
}

.mail button:active {
  background: linear-gradient(
    rgba(10, 19, 28, 0.7), rgba(21, 32, 43, 0.7), rgba(39, 54, 68, 0.7)
  );
}

.mail .email-notice {
  background: red;
  border-radius: 100%;
  display: none;
  font-size: 12px;
  padding: 3px 7px;
  position: absolute;
  transform: translate(-45%, 25%);
}

.weather {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.weather i {
  font-size: 1.2em;
}

.clock-wrap, .search-bar-wrap {
  margin: auto;
  text-align: center;
}

h1.clock, .date h2 {
  font-weight: 300;
  letter-spacing: 0.15em;
  text-shadow: 0 4px 5px rgba(255, 255, 255, 0.4)
}

div.date {
  margin: auto;
  padding-top: 10px;
  width: fit-content;
}

.search-bar-wrap {
  padding: 50px 0 0;
}

.search-btn {
  background: none;
  font-size: 1em;
  margin-left: -41px;
}

.search-btn:hover {
  color: #f49015;
}

.search-bar-wrap input {
  background: linear-gradient(to left, rgba(21, 32, 43, 0.7), rgb(10, 17, 26, 0.7));
  font-size: 1em;
  width: 60%;
}

/* --------------- LINKS + CONTENT --------------- */
.main-links {
  display: flex;
  justify-content: space-between;
  margin: 65px auto 25px;
  width: 80%;
}

.main-links div {
  background: rgba(21, 32, 43, 0.7);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  padding: 15px;
  width: 300px;
}

.comfy a {
  color: #73b073;
}

.web a {
  color: #c89f6a;
}

.entertainment a {
  color: #508abd;
}

.links-list {
  list-style: none;
  padding: 15px 0;
}

.fa-youtube {
  color: #990a0a;
}

.fa-twitch {
  color: #a970ff;
}

.fa-soundcloud {
  color: #f50;
}

.fa-firefox-browser {
  color: #3d7e9a;
}

.fa-stack-overflow {
  color: #f48024
}

.fa-play {
  color: #4a6448;
}

.links-list li:last-child .fa-play {
  color: #bd0303;
}
